body{
  color: #777777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  background-color:silver;
background-image: 
radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
background-size:100px 50px;
}

* {
  box-sizing: border-box;
}
nav {
  margin-bottom: 0px;
  padding: 20px;
}
.container-fluid {
  padding-right: 160px;
  padding-left: 130px;
  margin-right: auto;
  margin-left: auto;
}
#header {
  background-color: #ffffff;
  font-family: "Georgia", Times, Times New Roman, serif;
  bottom: 0;
}
.navbar-brand-teal {
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 27px;
  font-weight: bold;
  font-family: "Georgia", Times, Times New Roman, serif;
  bottom: 0;
  padding: 40px;
  text-align: center;
}
.navbar-brand-teal:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px #266a7c;
}
.inside-pad{
  padding: 0px 30px 10px 30px;
}
#sidebar {
  padding: 15px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  min-height: 180px;
  text-align: center;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: bold;
  color: #4aaaa5;
  }
.socialicons {
  width: 65px;
  height: 65px;
  margin-top: 10px;
}
.socialstack {
  width: 60px;
  height: 59px;
  margin-top: 10px;
  padding-left: 3px;
}
.gray-line {
    padding-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}
#main {
  min-height: 800px;
}
#middle {
  padding: 60px;
  min-height: 700px
  margin-bottom: 40px;
}
#about {
  margin-top: 25px;
}
#about > p {
  max-width: 580px;
  width: 100%;
}
#portfolio {
    max-width: 580px;
    width: 100%;
  }
#contact {
    max-width: 580px;
    width: 100%;
  }
#content{
  padding: 30px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
body {
  padding-top: 70px;
}
h3 {
  font-size: 24px;
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
}
#profile_pic {
  height: 200px;
  width: 145px;
  float: left;
  margin-right: 20px;
}
#footer {
  border-top: 5px solid #4aaaa5;
  position: fixed;
  bottom: 0;
  z-index:1;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 18px;
  background-color: #666666;
  color: #ded7d7;
}
#content {
  width: 100%
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
.relative {
  width: 100%;
  position: relative;
}
.project {
  margin: 5px 0px 0px 0px;
  width: 100%;
  height: 100%;
}
.banners {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 4px;
  z-index: 1;
  position: absolute;
  background-color: white;
  bottom: 10px;
}
.pic-banners {
  color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 4px;
  z-index: 1;
  position: absolute;
  background-color: #4aaaa5;
  bottom: 10px;

}