body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    line-height: 20px;
    background: url("../images/what-the-hex.png");
}

* {
  box-sizing: border-box;
}

.navbar-brand-teal {
  background-color: #e84817;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  font-family: "Georgia", Times, Times New Roman, serif;
  bottom: 0;
  padding: 30px;
  text-align: center;
}
.navbar-brand-teal:hover {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px #e84817;
}
.inside-pad{
  padding: 0px 30px 10px 30px;
}

.gray-line {
    padding-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}
#main {
  margin-top: 25px;
  min-height: 800px;
}
#middle {
  padding: 60px;
  min-height: 700px
  margin-bottom: 40px;
}
#about {
  margin-top: 25px;
}
#about > p {
  max-width: 960px;
  width: 100%;
}
#portfolio {
    max-width: 960px;
    width: 100%;
  }
#contact {
    max-width: 960px;
    width: 100%;
  }
#content{
  padding: 30px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
body {
  padding-top: 70px;
}
h1,
h2 {
    font-weight: 500;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #e84817;
}

.footer {
  border-top: 5px solid #e84817;
  position: fixed;
  bottom: 0;
  z-index:1;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 18px;
  background-color: #666666;
  color: #ded7d7;
}
#content {
  width: 100%
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
.relative {
  width: 100%;
  position: relative;
}
.project {
  margin: 5px 0px 0px 0px;
  width: 100%;
  height: 100%;
}
.banners {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 4px;
  z-index: 1;
  position: absolute;
  background-color: white;
  bottom: 10px;
}
.pic-banners {
  color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 4px;
  z-index: 1;
  position: absolute;
  background-color: #e84817;
  bottom: 10px;

}

.card {
  margin: 10px
}

.socialicons {
  width: 65px;
  height: 65px;
  margin-top: 10px;
}

#profilepic {
  padding-bottom: 10px;
  padding-right: 10px;
  float: left;

}
.navbar {
  padding: 0px
}